<?xml version="1.0"?>
<link name="sensor_link">
  <inertial>
    <origin xyz="0.000180 0.000165 0.016569" rpy="0 0 0" />
    <mass value="0.286502" />
    <inertia ixx="0.000128" ixy="-0.000001" ixz="0.000000" iyy="0.000127" iyz="0.000000" izz="0.000213" />
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://aubo_description/meshes/KW75C/visual/link0.3ds" />
    </geometry>
    <material name="">
      <color rgba="1 1 1 1" />
    </material>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <mesh filename="package://aubo_description/meshes/KW75C/collision/link0.STL" />
    </geometry>
  </collision>
  <sensor>
    <origin xyz="0 0 0.006" rpy="0 0 0" />
  </sensor>
</link>

