<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="aubo_i5_robot">
  <xacro:include filename="$(find aubo_description)/urdf/xacro/inc/aubo_macro.xacro"/>
  <xacro:aubo_robot 
    robot_model="aubo_i5"
    transmission_hw_interface="hardware_interface/PositionJointInterface" />
</robot>
